@page
@model Shop.UI.Pages.Checkout.PaymentModel
@{
}
<div class="columns">

<div class="column is-6">
<p class="title">Payment</p>

<form method="post">
    <div class="field has-text-right">
        <button class="button is-success" type="submit">Pay</button>
    </div>
</form>
</div>
<div class="column is-6"><vc:cart view="Default"></vc:cart></div>
</div>
